<h3>
	<ul>
		<li><%= link_to "IP Addresses", addresses_path %></li>
		<li><%= link_to "Networks",  networks_path %></li>
		<li><%= link_to "Sites", sites_path %></li>
		<li><%= link_to "Subnets", subnets_path %></li>
		<li><%= link_to "Address Ranges", address_ranges_path%></li>
		<li><%= link_to "Systems", systems_path %></li>
		<li><%= link_to "Interfaces", interfaces_path, :class => "current_page" %></li>
		<li><%= link_to "FQDNs", domain_names_path %></li>
	</ul>
</h3>

<table>
  <tr>
    <th>Interface name</th>
    <th>Layer2 address</th>
    <th>Description</th>
    <th>System</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interfaces.each do |interface| %>
  <tr>
    <td><%= interface.interface_name %></td>
    <td><%= interface.layer2_address %></td>
    <td><%= interface.description %></td>
    <td><%= interface.system_id %></td>
    <td><%= link_to 'Show', interface %></td>
    <td><%= link_to 'Edit', edit_interface_path(interface) %></td>
    <td><%= link_to 'Destroy', interface, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Interface', new_interface_path %>
