<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		
		<title><%= title %></title>
		
		<%= csrf_meta_tag %>
		<!--Code for flexigrid -->
  		<%= javascript_include_tag :all %>
  		<!--Code for flexigrid -->
  		<!--Code for testing dhtmlx -->
  		<script src="/javascripts/codebase/dhtmlxcommon.js" type="text/javascript" charset="utf-8"></script>
  		<script src="/javascripts/codebase/dhtmlxdataprocessor.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascripts/codebase/dhtmlxgrid.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascripts/codebase/dhtmlxgridcell.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascripts/codebase/dhtmlxlayout.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascripts/codebase/dhtmlxtabbar.js" type="text/javascript" charset="utf-8"></script>
        <!--the order in which the dhtmlxgrid_filter appears determines whether it works or not! -->
  		<script src="/javascripts/codebase/dhtmlxgrid_filter.js" type="text/javascript" charset="utf-8"></script>
  		<!--the order in which the dhtmlxgrid_filter appears determines whether it works or not! -->
        <script src="/javascripts/codebase/dhtmlxtree.js" type="text/javascript" charset="utf-8"></script>
        <!--Code for testing dhtmlx -->
  		
		<%= render 'layouts/stylesheets' %>
		
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
   	</head>
	<body>
		<div class="container">
			<%= render 'layouts/header' %>
			<section class="round">
				<%= yield %>
			</section>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>

